

h1{
    color: red;
}

.item_price{
    background-color: blue;
    color: orange;

}

.description{
    font-size: 50px;

}

.cursiv{
    font-style: italic;
    font-size: 24px;
    text-align: center;
}

